.home-content {
  background: rgb(198, 254, 250);
  box-shadow: 2px 0 8px 1px rgba(0, 0, 0, 0.245);
  padding: 32px;
  width: 40vw;
  height: 50vh;
  border-radius: 12px;
  margin-left: 30vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
